@charset "UTF-8";

@media screen and (min-width: 1050px){

    body{
  
        background-color: var(--Lightgrayishblue);
        width: 98vw;
        height: 100vh;
    }

    .grid-container{
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: 290px 270px;

        justify-content: center;
        align-content: center;

        width: 1050px;
        height: 600px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        grid-template-areas: 

        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira"
        ;
    }

    .bloco{
        padding: 30px 21px;
        padding-top: 20px;
    }

    #imagem{
        right: 80px;
    }
    
    h1{
        font-size: 19px;
    }

    .paragrafo{
        line-height: 19px;
        font-weight: 500;
        font-size: 13px;
    }

    .perfil{
        margin: 0px;
        margin-bottom: 20px;
    }

    .daniel{
        grid-area: daniel;
     box-shadow: 21px 26px 13px rgba(0, 0, 0, 0.027);
    }

    .jonathan{
        grid-area: jonathan;
        box-shadow: 20px 35px 27px rgba(0, 0, 0, 0.048);
    }

    .jonathan .paragrafo{
        color: white;
    }

    .kira{
        grid-area: kira;
        box-shadow: 21px 26px 13px rgba(0, 0, 0, 0.062);
    }

    .jeanette{
        grid-area: jeanette;
        box-shadow: 20px 35px 27px rgba(0, 0, 0, 0.062);
    }

    .patrick{
        grid-area: patrick;
        box-shadow: 28px 26px 13px rgba(0, 0, 0, 0.027);
    }

    .jeanette h1{
        margin-right: 13px;
    }
}